<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- ========================================================= -->
    <!-- MAST                                                      -->
    <!-- ========================================================= -->

    <!-- Chassis center is approximately X = +0.059 m -->
    <xacro:property name="mast_x"              value="0.059"/>
    <xacro:property name="mast_y"              value="0.0"/>

    <!-- Ground = -0.100 m in base_link coordinates -->
    <!-- Chassis top = +0.230 m -->
    <!-- Camera = +0.900 m -->
    <!-- Mast height = 0.900 - 0.230 = 0.670 m -->

    <xacro:property name="mast_height"         value="0.670"/>
    <xacro:property name="mast_radius"         value="0.015"/>


    <!-- ========================================================= -->
    <!-- MAST BASE                                                 -->
    <!-- ========================================================= -->

    <joint name="mast_joint" type="fixed">
        <parent link="chasis"/>
        <child link="mast_link"/>

        <!-- Chassis top = local z 0.250 -->
        <origin xyz="${mast_x - (-0.291)} 0.0 0.250"
                rpy="0 0 0"/>
    </joint>


    <link name="mast_link">

        <visual>
            <origin xyz="0 0 ${mast_height/2}"
                    rpy="0 0 0"/>

            <geometry>
                <cylinder radius="${mast_radius}"
                          length="${mast_height}"/>
            </geometry>

            <material name="black"/>
        </visual>

        <collision>
            <origin xyz="0 0 ${mast_height/2}"
                    rpy="0 0 0"/>

            <geometry>
                <cylinder radius="${mast_radius}"
                          length="${mast_height}"/>
            </geometry>
        </collision>

        <xacro:inertial_cylinder
            mass="0.5"
            radius="${mast_radius}"
            length="${mast_height}">

            <origin xyz="0 0 ${mast_height/2}"
                    rpy="0 0 0"/>

        </xacro:inertial_cylinder>

    </link>


    <gazebo reference="mast_link">
        <material>Gazebo/Black</material>
    </gazebo>

</robot>